<!DOCTYPE html>
<html lang="en">
<head>
        <title>
            <%= locals.title %>
        </title>
</head>
<body>
        <h1>PlayGround</h1>
        <ul>
            <li>node js</li>
            <li>React js</li>
            <li>javascript</li>
            <li>java</li>
            <li>spring boot</li>
        </ul>

</body>
</html>